@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?-ifrslk');
  src:url('../fonts/icomoon.eot?#iefix-ifrslk') format('embedded-opentype'),
    url('../fonts/icomoon.woff?-ifrslk') format('woff'),
    url('../fonts/icomoon.ttf?-ifrslk') format('truetype'),
    url('../fonts/icomoon.svg?-ifrslk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e603";
}
.icon-file:before {
  content: "\e604";
}
.icon-cart:before {
  content: "\e600";
}
.icon-twitter:before {
  content: "\e601";
}


